<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="//use.fontawesome.com/6c7cf6fe39.js"></script>
  <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = '//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet'>
  <title>Slow CRM</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/new.css') }}">
  <script src="//code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/jquery.devbridge-autocomplete.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>



</head>
<body>
  <script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";
    $.ajaxSetup({
      beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
          xhr.setRequestHeader("X-CSRFToken", csrf_token);
        }
      }
    });
  </script>
  <!-- ENTRY MODAL -->
  <div id="new-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
          <div class="entry">
            <form id="entry-form" action="{{ url_for('users.entry') }}" , method='POST'>
              <div class="form-group bs-example">
                <textarea wrap="soft" name="tweet-message" id="tweet-message" class="form-control" placeholder="update" autofocus autocomplete="off" spellcheck="false"></textarea>
              </div>
              <div class="flashes"></div>
              <div class="inline">
                <div class="legend tags_select">
                  <span class="button-hover">$<i class="legend-word"> company </i>$</span>
                  <span class="button-hover">|<i class="legend-word"> person </i>|</span>
                  <span class="button-hover">*<i class="legend-word"> tag </i>*</span>
                </div>
                <button id="tweet-button" type="submit" class="button-hover post">Post</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- NAVBAR -->
  <nav class="navbar navbar-default mynav navbar-nav-center">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="/users/home" class="logo"><img class="button-hover pull-left" src="{{ url_for('static', filename='images/logo3.png') }}" alt="home"></a>
        {% if current_user.is_authenticated %}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-center" data-toggle="modal" data-target="#new-modal">
          <i id="new" class="fa fa-plus-square fa-3x button-hover" aria-hidden="true" autofocus></i>
        </a>
        {% endif %}
      </div>
      {% if current_user.is_authenticated %}
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <form action="{{url_for('users.search')}}" class="navbar-form navbar-nav">
            <div class="form-group col-sm-8">
              <input class="form-control search-input" type="text" name="search" placeholder="Search companies, people, tags"/>
            </div>
          </form>
              <div class="btn-group">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">
              <div ><i class="fa user fa-tags fa-3x button-hover" aria-hidden="false"></i></div>
            </button>
            <ul class="dropdown-menu">
                {% if current_user.is_authenticated %}
                  <li><a href="{{url_for('tags.details', id=1)}}">New Leads</a></li>
                  <li><a href="{{url_for('tags.details', id=2)}}">Live Deals</a></li>
                  <li><a href="{{url_for('tags.details', id=3)}}">Needs Discussion</a></li>
              <!-- NAV / TAGS / NO_USER -->
                {% else %}
                  <a href="{{url_for('users.login')}}">Login</a>
                {% endif%}
            </ul>
          </div>
          <div class="btn-group">
            <button type="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div><i class="fa user fa-user-circle-o fa-3x button-hover" aria-hidden="true"></i></div>
            </button>
            <ul class="dropdown-menu">
                {% if current_user.is_authenticated %}
                  <li><a href="{{url_for('companies.index')}}">Companies</a></li>
                  <li><a href="{{url_for('users.show', id=current_user.id)}}">Profile</a></li>
                  <li><a href="{{url_for('users.logout')}}">Logout</a></li>
                {% else %}
                  <a href="{{url_for('users.login')}}">Login</a>
                {% endif%}
            </ul>
          </div>
        </ul>
      </div><!--/.nav-collapse -->
      {% endif %}
    </div><!--/.container-fluid -->
  </nav>

  {% for message in get_flashed_messages() %}
    <p class="text-center text-danger">{{ message }}</p>
  {% endfor %}

  <!-- CONTENT -->
  <div class="content">
    {% block content %}

    {% endblock %}
  </div>
</body>
<script src="{{ url_for('static', filename='js/autocomplete.js') }}"></script>
</html>
