{% extends 'base.html' %}
{% block content%} 
<div class="content">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
	<form action="{{url_for('users.edit', id=user.id)}}" method="POST">
	{{ form.csrf_token }}
	{% for field in form if field.widget.input_type != 'hidden' %}
	<div class="form-group row">
    {{ field.label }}  
    	<div class="col-10">
    {{ field }}
    	</div>
    </div>  
        {% if field.errors %}
        {% for error in field.errors %}
        <font color="red">{{ error }}</font>
        {% endfor %}
        {% endif %}
	    {% endfor %}
	<button type="submit">Submit</button>
	</form>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
    	<div class="mycontent">
    	</div>
	</div>
</div>
{% endblock %}
