{% extends 'base.html' %}
{% block content%}
<div class="container">
<div class="editform">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
  <h2>Update Your Password</h2>
  <br>
  <form action="{{url_for('users.edit_password', id=user.id)}}?_method=PATCH" method="POST">
  {{ form.csrf_token }}
  {% if form.newpassword.errors %}
  {% for error in form.newpassword.errors %}
   <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.newpassword.label }}
      <div class="col-10">
      {{ form.newpassword(class="editfield") }}
      </div></div>
      {% if form.confirmpassword.errors %}
      {% for error in form.confirmpassword.errors %}
   <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.confirmpassword.label }}
      <div class="col-10">
      {{ form.confirmpassword(class="editfield") }}
      </div></div>
      <div class="form-group">
      <div class="col-10">
      <p>To save your new password, enter your current password:</p>
      {{ form.currentpassword(placeholder="current password", class="editfield") }}
      <br><br>
      <button type="submit" class="button-hover">Submit</button>
      <a href="{{ url_for('users.show', id=user.id) }}" class="button-hover">Cancel</a>
      </div></div></div>
  </form>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
      <div class="mycontent">
      </div>
  </div>
</div>
{% endblock %}
