{% extends 'base.html' %}
{% block content%} 
<div class="container">
<div class="editform">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
	<h2>Update Your Account Info</h2>
  <br>
	<form action="{{url_for('users.edit', id=user.id)}}?_method=PATCH" method="POST">
	{{ form.csrf_token }}
	{% if form.email.errors %}
	{% for error in form.email.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.email.label }}
      <div class="col-10">
      {{ form.email(value=user.email, id="mail", class="editfield") }}
      </div></div>
      {% if form.name.errors %}
      {% for error in form.name.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.name.label }}
      <div class="field">
      {{ form.name(value=user.name, class="editfield") }}
      </div></div>
      {% if form.phone.errors %}
      {% for error in form.phone.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.phone.label }}
      <div class="col-10">
      {{ form.phone(value=user.phone, class="editfield") }}
      </div></div>
      <div class="form-group">
      <div class="col-10">
      <p>To confirm changes, enter your password:</p>
      {{ form.password(placeholder="password", id="pw", class="editfield") }}
      <br><br>
      <a href="{{ url_for('users.show', id=user.id) }}" class="btn btn-default">Cancel</a>
	    <button type="submit" class="btn btn-default">Submit</button>
      </div></div>
	</form>
</div>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
    	<div class="mycontent">
    	</div>
	</div>
</div>
{% endblock %}
