{% extends 'base.html' %}
{% block content%}
<div class="container edit-container">
<div class="col-sm-8">
	<h2>Update Your Account Info</h2>
  <br>
	<form action="{{url_for('users.edit', id=user.id)}}?_method=PATCH" method="POST">
	{{ form.csrf_token }}
	{% if form.email.errors %}
	{% for error in form.email.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.email.label }}
      <div>
      {{ form.email(value=user.email, id="mail", class="form-control") }}
      </div></div>
      {% if form.name.errors %}
      {% for error in form.name.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.name.label }}
      <div>
      {{ form.name(value=user.name, class="form-control") }}
      </div></div>
      {% if form.phone.errors %}
      {% for error in form.phone.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
      {{ form.phone.label }}
      <div>
      {{ form.phone(value=user.phone, class="form-control") }}
      </div></div>
      <div class="form-group">
      <div>
      <p>To confirm changes, enter your password:</p>
      {{ form.password(placeholder="password", id="pw", class="form-control") }}
      <br><br>
	    <button type="submit" class="button-hover">Save</button>
      <a href="{{ url_for('users.show', id=user.id) }}" class="button-hover">Cancel</a>
      </div></div>
	</form>
</div>
</div>
<div class="searchcontent">
    <div >
        <div ></div>
        <div ></div>
    	<div class="mycontent">
    	</div>
	</div>
</div>
{% endblock %}
