{% extends 'base.html' %}
{% block content%}
<div class="container">
  <div class="col-sm-8">
    <h2>Update Your Password</h2>
    <form action="{{url_for('users.edit_password', id=user.id)}}?_method=PATCH" method="POST">
      {{ form.csrf_token }}
      {% if form.newpassword.errors %}
        {% for error in form.newpassword.errors %}
        <span class="text-danger">
          {{ error }}
        </span>
        {% endfor %}
      {% endif %}
      <div class="form-group">
          {{ form.currentpassword.label }}
          {{ form.currentpassword(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.newpassword.label }}
        {{ form.newpassword(class="form-control") }}
      </div>
        {% if form.confirmpassword.errors %}
          {% for error in form.confirmpassword.errors %}
            <span class="text-danger">
              {{ error }}
            </span>
          {% endfor %}
        {% endif %}
        <div class="form-group">
          {{ form.confirmpassword.label }}
          {{ form.confirmpassword(class="form-control") }}
        </div>
            <button type="submit" class="button-hover">Submit</button>
            <a href="{{ url_for('users.show', id=user.id) }}" class="button-hover">Cancel</a>
        </div>
          </form>
        </div>
      </div>
{% endblock %}

