{% extends 'base.html' %}
{% block content %}

<div class="entry">
            <form method='POST' action="{{ url_for('users.entry', user_id=user_id) }}">
                {{ entry_form.csrf_token }}
                <fieldset>
                <p>{{ entry_form.content(placeholder="search for $company |person *tag") }}
                    <span>
                        {% if entry_form.content.errors %}
                            {% for error in entry_form.content.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endif %}
                    </span>
                </p>                
                </fieldset>
                <br>
                <button type="submit">Post Update</button>
            </form>

{% endblock %}
