{% extends 'base.html' %}
{% block content%} 
<div class="content">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
  <h3>Enter your email address and we will 
  <br>send you a link to reset your password.</h3>
  <form action="{{url_for('users.reset')}}" method="POST">
  {{ form.csrf_token }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group row">
    {{ field.label }}  
      <div class="col-10">
    {{ field }}
      </div>
    </div>  
        {% if field.errors %}
        {% for error in field.errors %}
        <font color="red">{{ error }}</font>
        {% endfor %}
        {% endif %}
      {% endfor %}
      <br>
      <div class="form-group row">  
      <div class="col-10">
    <button type="submit" class="btn btn-default">Send password reset email</button>
    </div></div>
  </form>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
      <div class="mycontent">
      </div>
  </div>
</div>
{% endblock %}
