{% extends 'base.html' %} {% block content%} {% for message in get_flashed_messages() %}
<p class="flashwarning">{{ message }}</p>
{% endfor %}
<div>
    <div class="editform">
        <h2>Enter Your Email and We Will Send You A Link to Reset Your Password</h2>
            <br>
        <form action="{{url_for('users.reset')}}" method="POST">
            {{ form.csrf_token }} {% if form.email.errors %} {% for error in form.email.errors %}
                <span class="text-danger">
                    {{ error }}
                </span> {% endfor %} {% endif %}
            <div class="form-group">
            {{ form.email.label }}
                <div class="col-10">
                    {{ form.email(class="editfield", id="mail") }}
                </div>
            </div>
            <button type="submit" class="button-hover">Submit</button>
    </div>
</div>
</form>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
        <div class="mycontent">
        </div>
    </div>
</div>
{% endblock %}
