{% extends 'base.html' %} 
{% block content %}

<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>

{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <form id="entry-form" action="{{ url_for('users.entry') }}", method='POST'>
        <div class="form-group">
            <textarea name="tweet-message" id="tweet-message" cols="30" rows="3" class="form-control" placeholder="Send an update to partners.."></textarea>
        </div>
        <span class="legend"> $CompanyName$, </span>
        <span class="legend"> |PersonName|, </span>
        <span class="legend"> *TagName*</span>
        <div class="flashes"></div>
        <div class="pull-right">
            <button id="tweet-button" type="submit" class="btn btn-primary">Post Update</button>
        </div>
    </form>
    <div class="entries">
        <ul class="entrieslist">
            <li class="entry">
                <a href="" class="nameanchor"><div class="name">Aric Liesenfelt</div></a>
                <div class="text">Yo what's good homies this CRM is so cool Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda quisquam distinctio atque sit facere quae voluptatum libero dolores quidem nulla accusamus qui, perferendis, excepturi consectetur, omnis fugiat beatae? Nulla, consequatur!</div>
            </li>            <li class="entry">
                <a href="" class="nameanchor"><div class="name">Tommy Hopkins</div></a>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid cumque eius illum laboriosam numquam ea in id, odit? Consequuntur veniam quae perspiciatis fugit accusantium, modi nam sapiente quo, sed unde.</div>
            </li>            <li class="entry">
                <a href="" class="nameanchor"><div class="name">Aaron Mannley</div></a>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perferendis omnis libero aliquid vel temporibus sed doloremque. Nobis sunt aut ullam quia ratione, maiores accusamus vero vel, quod expedita, neque?</div>
            </li>
        </ul>
    </div>


{% endblock %}

