{%  extends "base.html"  %}

{%  block content  %}
	<div class="col-md-6 col-md-offset-3" style="background-color: skyblue;padding:100;padding: 100;padding: 100px;">
		<h3 style='color:white' class='text-center'>Invite a new user</h3>
		<form action="{{url_for('users.invite')}}" , method='POST' class='text-center' >
			<div id='form'>
	
			</div>
			<input placeholder='Enter an email address' style='width:250px' type='text'></input>
			<button style='margin-top:20px;margin-bottom:20px'type='submit'>Send Invite</button>
		</form>
	</div>
{%  endblock  %}



