{% extends 'base.html' %}
{% block content%} 
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
  <form action="{{url_for('users.login')}}" method="POST">
  {{ form.csrf_token }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group row" id="formrow">
    {{ field.label }}  
      <div class="col-10">
    {{ field }}
      </div>
    </div>  
        {% if field.errors %}
        {% for error in field.errors %}
        <font color="red">{{ error }}</font>
        {% endfor %}
        {% endif %}
      {% endfor %}
  <button type="submit" id="postbutton" class="btn btn-default">Submit</button>
  <a href="/users/passwordreset">Forgot Password?</a>
  </form>
{% endblock %}
