{% extends 'base.html' %} {% block content%} {% for message in get_flashed_messages() %}
<p class="flashwarning">{{ message }}</p>
{% endfor %}
<div>
    <div class="col-sm-8">
        <h2>Enter Your New Password</h2>
        <form action="{{url_for('users.password_recovery', token=token)}}?_method=PATCH" method="POST">
            {{ form.csrf_token }} {% if form.password.errors %} {% for error in form.password.errors %}
            <span class="text-danger">
                {{ error }}
            </span> {% endfor %} {% endif %}
            <div class="form-group">
                {{ form.password.label }}
                <div class="col-10">
                    {{ form.password(class="form-control", id="pw") }}
                </div>
            </div>
            {% if form.confirmpassword.errors %} {% for error in form.confirmpassword.errors %}
            <span class="text-danger">
                {{ error }}
            </span> {% endfor %} {% endif %}
            <div class="form-group">
                {{ form.confirmpassword.label }}
                <div class="col-10">
                    {{ form.confirmpassword(class="form-control") }}
                </div>
            </div>
            <button type="submit" class="button-hover">Submit</button>
        </form>
    </div>
</div>
<div class="searchcontent">
    <div >
        <div >Search</div>
        <div ></div>
        <div class="mycontent">
        </div>
    </div>
</div>
{% endblock %}
