{% extends 'base.html' %}
{% block content%}
<div class="myheader">
  <div class="myheadertext">Search</div>
  <div class="myheaderbar"></div>
  <div class="mycontent">
    {% if count > 0 %}
      {% for r in results %}
        <div class="searchresult">
          {{r.content}}
        </div>
      {% endfor %}
    {% else %}
      Sorry, no results found
    {% endif %}
      <div>
        <h3>Not what you were looking for?</h3>
          <p><a href="{{url_for('companies.new', term=term)}}">+ '{{term}}' as new company...</a></p>
          <p><a href="{{url_for('persons.new', term=term)}}">+ '{{term}}' as new person...</a></p>
          <p><a href="{{url_for('tags.new', term=term)}}">+ '{{term}}' as new tag...</a></p>
      </div>
  </div>
</div>
{% endblock %}
