{%  extends 'base.html'  %}
{%  block content  %}

<!-- Prepare all future AJAX with CSRF token -->
<script type="text/javascript">
    var csrf_token = "{{ csrf_token() }}";

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
            }
        }
    });
</script>

<!-- Invite User Modal with AJAX -->
<div id="invite-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
              <button label="close" id="close-button" type="button" class="close" data-dismiss="modal">&times;</button>
            <div class="model-header">
                <h4 class="modal-heading">Invite New User</h4>
            </div>
        <div class="modal-body text-center">
            <form  action="#">
                <div class="form-group">
                    <input id="invite-name" label="Name" name="name" type="text" placeholder="Name"></input>
                    <input id="invite-email" label="Email" name="email" type="text" placeholder="Email Address"></input>
                    <button label= "submit" class="btn btn-primary" id="invite-modal-submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div id="modal-message" class="text-center"></div>
        </div>
        </div>
    </div>
</div>




<div class="container">
<div class="row">
    <div class = "profile-box col-md-5 col-xs-12">
        {% if current_user.id == user.id  %}
        <h2>User {{user.name}}'s Profile Page
        <a class="btn btn-info btn-sm" href="/users/{{user.id}}/edit">Edit</a>
        </h2>

        <div>
            <p>Email: {{user.email}}</p>
            <p>Phone: {{user.phone}}</p>
            <p>Created: {{user.created_at.strftime('%m-%d-%y')}} at {{user.created_at.strftime('%I:%M %p')}}</p>
            <p>Updated: {{user.created_at.strftime('%m-%d-%y')}} at {{user.created_at.strftime('%I:%M %p')}}</p>
            <p>Admin: {{user.is_admin}}</p>
            <p>Confirmed: {{user.confirmed}}</p>
            <a href="/users/{{user.id}}/editpassword" class="btn btn-info btn-sm">Update Password</a>
        </div>
    </div>

    <div class="right-box col-md-6 col-md-offset-1 text-right col-xs-12">
        <h3 class="tag-header pull-left">Tags</h3>
        <button type="button" class="btn btn-primary invite-button float-right" data-toggle="modal" data-target="#invite-modal">Invite New User</button>
        <div class="tag-box col-md-12">
            <h4>Tag Box</h4>
        </div>
    </div>

</div>
    <div class="col-md-12">
        <h3 class="">{{user.name}}'s Posts</h3>
        {{user.entries}}
    </div>

    <div class="searchcontent">
        <div class="myheader">
            <div class="myheadertext">Search</div>
            <div class="myheaderbar"></div>
          <div class="mycontent"></div>
      </div>
    </div>

</div>
</div>

{% else %}

<h2>User {{user.name}}'s Profile Page</h2>

<div>
<div id='invite-modal' class='modal fade' role='dialog'>
    <div>
    </div>
</div>

<p>Email: {{user.email}}</p>
<p>Phone: {{user.phone}}</p>
<p>Created: {{user.created_at.strftime('%m-%d-%y')}} at {{user.created_at.strftime('%I:%M %p')}}</p>
<p>Updated: {{user.created_at.strftime('%m-%d-%y')}} at {{user.created_at.strftime('%I:%M %p')}}</p>
<p>Admin: {{user.is_admin}}</p>
<p>Confirmed: {{user.confirmed}}</p>
<div>
{% endif %}
{%  endblock  %}
