{% extends 'base.html' %}
{% block content %}
<script type="text/javascript">
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
    beforeSend: function(xhr, settings) {
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    }
  });
</script>

<!-- MODAL-->
<div id="invite-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:20px;">
      <button label="close" id="close-button" type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="model-header">
        <h4 class="modal-heading">Invite New User</h4>
      </div>
      <div class="modal-body">
        <div>
          <form class="invite-modal-form" action="#">
            <div class="form-group">
              <input id="invite-name" class="form-control" name="name" type="text" placeholder="Name"></input>
            </div>
            <div class="form-group">
              <input id="invite-email" class="form-control" name="email" type="text" placeholder="Email Address"></input>
            </div>
            <button label="submit" class="button-hover" id="invite-modal-submit">Submit</button>
          </form>
        </div>
        <div>
          <div id="modal-message" class="text-center"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- CONTENT -->
<div class="row">
  {% if current_user.id == user.id %}
  <!-- USER PROFILE -->
  <h2>
    {{user.name}}
    <span><a class="edit-button btn glyphicon glyphicon-pencil btn" href="/users/{{user.id}}/edit"></a></span>
  </h2>
  <div>
    <p><strong>Email: </strong>{{user.email}}</p>
    <p><strong>Phone: </strong>{{user.phone}}</p>
    <p><strong>Joined: </strong> {{user.created_at.strftime('%m/%y')}}</p>
    <p><strong>Admin: </strong> {{user.is_admin}}</p>
    <p>
      <a href="/users/{{user.id}}/editpassword">
        <button class="button-hover">
          Update Password
        </button>
      </a>
    </p>
    <p>
      <button type="button" class="button-hover invite-button" data-toggle="modal" data-target="#invite-modal">
        Send Invite
      </button>
      </p>
  </div>
  <p></p>
  <a href="{{ url_for('users.show_archived',  id=user.id) }}" class="b">
  <button class="button-hover">
    Show Archived Entries
  </button></a>

<!-- USER ENTRIES -->
<div>
  <h2>Your Entries</h2>
    <ul class="user-entries">
      {% if formatted_entries[0] %} {% for entry in formatted_entries[::-1] %}
      {% if not entry["archived"]%}
      <li>
        <p><strong>{{entry["content"] | safe }}</strong></p>
        <p>
          {{entry["created_at"].strftime('%m-%d-%y')}}
          <a href="{{ url_for('users.archive', entry_id=entry['entry_id'], id=user.id) }}" alt="archive" class="button">
            <i class="fa fa-trash" aria-hidden="true"></i>
          </a>
        </p>
      </li>
      {% endif %}
      {% endfor %} {% else %}
  </ul>
  <p class="text-center">No posts to show right now</p>
  {% endif %}
</div>

{% else %}

<!-- NON USER PROFILE -->
<div>
  <h2><span class="user-header">{{user.name}}</span></h2>
  <div>
    <p><img class="contact-icon" src="{{ url_for('static', filename='images/mail.png') }}"><a href="mailto:{{user.email}}">{{user.email}}</a></p>
    <p><img class="contact-icon" src="{{ url_for('static', filename='images/phone.png') }}">{{user.phone}}</p>
    <p><strong>Member Since </strong> {{user.created_at.strftime('%m/%y')}}</p>
    <p><strong>Last Active</strong> {{user.created_at.strftime('%m-%d-%y')}}</p>
  </div>
</div>

<!-- NON USER ENTRIES -->
<div>
  <h3>{{user.name}}'s Entries</h3>
  <ul class="user-entries">
  {% if formatted_entries[0] %} {% for entry in formatted_entries[::-1] %}
    <li>
      <p><strong>{{entry["content"] | safe }}</strong></p>
      <p>
        <strong>Created On:</strong> {{entry["created_at"].strftime('%m-%d-%y')}} at {{entry["created_at"].strftime('%I:%M %p')}} <br>
        <strong>Updated On:</strong> {{entry["updated_at"].strftime('%m-%d-%y')}} at {{entry["updated_at"].strftime('%I:%M %p')}}
      </p>
    </li>
    {% endfor %} {% else %}
  </ul>
  <p class="text-center">No posts to show right now</p>
  {% endif %}
</div>
{% endif %}
{% endblock %}
</div>
