{% extends 'base.html' %}
{% block content%} 
<div class="content">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
	<h2>Update Your Account Info</h2>
	<form action="{{url_for('users.update', id=user.id)}}?_method=PATCH" method="POST">
	{{ form.csrf_token }}
	{% if form.email.errors %}
	{% for error in form.email.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group row">
      {{ form.email.label }}
      <div class="col-10">
      {{ form.email(value=user.email) }}
      </div></div>
      {% if form.name.errors %}
      {% for error in form.name.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group row">
      {{ form.name.label }}
      <div class="col-10">
      {{ form.name(value=user.name) }}
      </div></div>
      {% if form.phone.errors %}
      {% for error in form.phone.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group row">
      {{ form.phone.label }}
      <div class="col-10">
      {{ form.phone(value=user.phone) }}
      </div></div>
      {% if form.password.errors %}
      {% for error in form.password.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group row">
      {{ form.password.label }}
      <div class="col-10">
      {{ form.password }}
      </div></div>
      {% if form.confirmpassword.errors %}
      {% for error in form.confirmpassword.errors %}
	 <span class="text-danger">
            {{ error }}
          </span>
        {% endfor %}
      {% endif %}
      <div class="form-group row">
      {{ form.confirmpassword.label }}
      <div class="col-10">
      {{ form.confirmpassword }}
      </div></div>
	<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
<div class="searchcontent">
    <div class="myheader">
        <div class="myheadertext">Search</div>
        <div class="myheaderbar"></div>
    	<div class="mycontent">
    	</div>
	</div>
</div>
{% endblock %}
