{% extends 'base.html' %} {% block content %}
<div>
    <div>
        <h4 class="tag-detail-index-btn"><a href="{{url_for('tags.index')}}">See All Tags</a></h4>
        <h2><span class="glyphicon glyphicon-tag"></span>&nbsp; {{tag_name.text}}</h2>
        <a href="{{url_for('tags.archive_tag', id=tag_name.id)}}">Archive Tag</a>
        <div>
            <div>
                <div>
                    <button type="button" class="sh button-hover" data-toggle="collapse" data-target="#entries">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <span >Entries</span>
                </div>
                <div id="entries" class="collapse in">
                    {% for entry in formatted_entries %}
                    <div class="entry entry-post">
                        <div class="entry-post-content">
                            <strong><a href="/users/{{entry['user_id']}}">{{entry["user_name"]}}</a></strong>
                            <p>{{ entry["content"] | safe }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div>
                    <div>
                        <button type="button" class="sh button-hover" data-toggle="collapse" data-target="#companies">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <span>Companies</span>
                    </div>
                    <div id="companies" class="collapse in">
                        {% for company in formatted_companies %}
                        <div class="entry-post">
                            <div>
                                <a class="entry-post-content" href="/companies/{{company['company_id']}}">
                                        {{ company["company_name"] }}
                                    </a>
                                <div>
                                    {% for tag in company["tags"] %}
                                    <a href="/tags/{{tag.id}}">#{{tag.text}}</a> {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <div>
                        <button type="button" class="sh button-hover" data-toggle="collapse" data-target="#persons">
                            <i class="fa fa-minus" aria-hidden="true"></i>
                        </button>
                        <span>People</span>
                    </div>
                    <div id="persons" class="collapse in">
                        {% for person in formatted_persons %}
                        <div class="entry-post">
                            <div>
                                <a class="entry-post-content" href="/persons/{{person['person_id']}}"> {{ person["person_name"]}}</a>
                            </div>
                            <div>
                                {% for tag in person["tags"] %}
                                <a href="/tags/{{tag.id}}">#{{tag.text}}</a> {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
