{% extends 'base.html' %}
{% block content %}


<div class="container-fluid">
    <div class = "col-md-12 col-xs-12">
        <h2><span class="glyphicon glyphicon-tag"><b></span>{{tag_name.text}}</h2></b>
    

    <div class = "col-md-12">
        <div>
            <div class="row tag-detail-row">
                <span class="tag-detail-section-header">Entries</span>
                <button type="button" class="pull-right btn btn-primary btn-sm" data-toggle="collapse" data-target="#entries">Show/Hide</button>
            </div>
        <div id="entries" class="collapse in">

        {% for entry in tagged_entries %}

				<div class="entry-post"> 
                    <p class="entry-post-content">{{ entry | safe }}</p>
                </div>
	
        {%  endfor  %}
        </div>
        </div>
        <div>

            <div class="row tag-detail-row">
                <span class="tag-detail-section-header">Companies</span>
                <button type="button" class="pull-right btn btn-primary btn-sm" data-toggle="collapse" data-target="#companies">Show/Hide</button>
            </div>
        <div id="companies" class="collapse in">
        {% for taggable in taggables %}
            {% if taggable.taggable_type == 'company' %}
                {% set company = Company.query.get(taggable.taggable_id) %}
                <div class="entry-post"> 
                <p class="entry-post-content"> {{ company.name }} </p>

                </div>
            {% endif %}
        {%  endfor  %}
        </div>
        </div>
        <div>
            <div class="row tag-detail-row">
                <span class="tag-detail-section-header">Entries</span>
                <button type="button" class="pull-right btn btn-primary btn-sm" data-toggle="collapse" data-target="#persons">Show/Hide</button>
            </div>
        <div id="persons" class="collapse in">
        {% for taggable in taggables %}
            {% if taggable.taggable_type == 'person' %}
                {% set person = Person.query.get(taggable.taggable_id) %}
                <div class="entry-post"> 
                <p class="entry-post-content"> {{ person.name }} </p>

                </div>
            {% endif %}
		{% endfor %}	
        </div>
        </div>
    </div>

</div>
</div>
{% endblock %}