{%  extends 'base.html'  %}

{%  block content  %}
<div class="container">
<div class="editform">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
<h2>Create New Tag</h2>

<a href = "{{url_for('tags.index')}}">See All Tags</a>
<br><br>

<form action="{{url_for('tags.index')}}" , method='POST'>

{{form.hidden_tag()}}
{% if form.tag.errors %}
	{% for error in form.tag.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.tag.label }}
    <div>
        {{ form.tag(value=term, class="editfield") }}
    </div></div>                                  

<button class='btn btn-default' type='submit'>Add Tag</button>
<a href="{{ url_for('users.home') }}" class="btn btn-danger">Cancel</a>

</form>

</div></div>
{%  endblock  %}
