{%  extends 'base.html'  %}

{%  block content  %}
<div style='margin-top:10em' class="col-md-4 col-md-offset-4">

<h2>Editing {{company.name}}</h2>


<form action="{{url_for('companies.show', id=company.id)}}?_method=PATCH", method='POST'>


<button style='margin-top: 2em;margin-bottom: 2em'><a href = '{{url_for('companies.show',id=company.id)}}''>Back to company page</a></button>

{{form.hidden_tag()}}
{%  for field in form if field.widget.input_type != 'hidden' %}

<p>
    {{field.label}}: 
    {{field}}
    <span>{%  if field.errors  %}
            {%  for error in field.errors %}
                {{error}}
            {%  endfor  %}
        {%  endif  %}
    </span>
</p>
{%  endfor  %}

<button style = 'margin-top:2em' type='submit'>Edit Company</button>

</form>

</div>
</div>
{%  endblock  %}
