{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
                <h2>Edit {{company.name}}</h2>
            <a href="{{url_for('companies.show', id=company.id)}}">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back
            </a>
            <form action="{{url_for('companies.show', id=company.id)}}?_method=PATCH" , method='POST'>
                {{form.hidden_tag()}}
                {% if form.description.errors %} {% for error in form.description.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.description.label }}
                    <div>
                        {{ form.description(class="form-control", value=company.description) }}
                    </div>
                </div>
                {% if form.url.errors %} {% for error in form.url.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.url.label }}
                    <div>
                        {{ form.url(class="form-control", value=company.url) }}
                    </div>
                </div>
                {% if form.logo_url.errors %} {% for error in form.logo_url.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.logo_url.label }}
                    <div>
                        {{ form.logo_url(class="form-control", value=company.logo_url) }}
                    </div>
                </div>
                {% if form.partner_lead.errors %} {% for error in form.partner_lead.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.partner_lead.label }}
                    <div>
                        {{ form.partner_lead(class="form-control", value=company.partner_lead) }}
                    </div>
                </div>
                {% if form.ops_lead.errors %} {% for error in form.ops_lead.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.ops_lead.label }}
                    <div>
                        {{ form.ops_lead(class="form-control", value=company.ops_lead) }}
                    </div>
                </div>
                {% if form.source.errors %} {% for error in form.source.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.source.label }}
                    <div>
                        {{ form.source(class="form-control", value=company.source) }}
                    </div>
                </div>
                {% if form.round.errors %} {% for error in form.round.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.round.label }}
                    <div>
                        {{ form.round(class="form-control", value=company.round) }}
                    </div>
                </div>
                {% if form.archived.errors %} {% for error in form.archived.errors %}
                    <span class="text-danger">
                        {{ error }}
                    </span>
                {% endfor %} {% endif %}
                <div class="form-group">
                    {{ form.archived.label }}
                    <div>
                        {{ form.archived(value=company.archived) }}
                    </div>
                </div>
                <button class='button-hover' type='submit'>Save</button>
                <a href="{{ url_for('companies.show', id=company.id) }}" class="button-hover">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
