{%  extends 'base.html'  %}

{%  block content  %}


<div class="container-fluid">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
{% endfor %}
<div><h2>Companies Index</h2></div><br><br>
	<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th class="leftme">Company</th>
				<th class="centerme">Description</th>
				<th class="centerme">Partner Lead</th>
				<th class="centerme">Operations Lead</th>
				<th class="centerme">Source</th>
				<th class="centerme">Round</th>
			</tr>
		</thead>
		<tbody>
			{% for company in companies %}
			<tr>
				<td class="leftme"><a href="{{url_for('companies.show', id=company.id)}}">{{company.name}}</a></td>
				<td class="centerme">{{company.description}}</td>
				<td class="centerme">{{company.partner_lead}}</td>
				<td class="centerme">{{company.ops_lead}}</td>
				<td class="centerme">{{company.source}}</td>
				<td class="centerme">{{company.round}}</td>
			</tr>
			{% endfor %}
		</tbody>

	</table>
	</div>
</div>
	
{%  endblock  %}

