{%  extends 'base.html'  %}

{%  block content  %}


<div>
    <div><h2>See all companies:</h2></div>
    <br><br>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Company</th>
                <th>Description</th>
                <th>Partner Lead</th>
                <th>Operations Lead</th>
                <th>Source</th>
                <th>Round</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
            <tr>
                <td><a href="{{url_for('companies.show', id=company.id)}}">{{company.name}}</a></td>
                <td>{{company.description}}</td>
                <td>{{company.partner_lead}}</td>
                <td>{{company.ops_lead}}</td>
                <td>{{company.source}}</td>
                <td>{{company.round}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <h4><a href="{{url_for('companies.show_archived')}}">Archived Companies</a></h4><br>
</div>

{%  endblock  %}
