{%  extends 'base.html'  %}

{%  block content  %}
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
<div style='margin-top:10em' class="col-md-4 col-md-offset-4">
<h2 class="col-md-4 col-md-offset-4">{{company.name}}'s Page</h2>

<button style='margin-top: 2em;margin-bottom: 2em'><a href = '{{url_for('companies.index')}}''>Back to company index</a></button>

<div class="col-md-4 col-md-offset-4">
    <p>Name: {{company.name}}</p>
    <p>Description: {{company.description}}</p>
    <p>URL: {{company.url}}</p>
    <p>Logo URL: {{company.logo_url}}</p>
    <p>Partner Lead: {{company.partner_lead}}</p>
    <p>Operations Lead: {{company.ops_lead}}</p>
    <p>Source: {{company.source}}</p>
    <p>Round: {{company.round}}</p>
    <p>Archived?: {{company.archived}}</p>
    <p>Created At: {{company.created_at}}</p>
    <p>Updated At: {{company.updated_at}}</p>
</div>
<button class="col-md-4 col-md-offset-4"><a href = '{{url_for('companies.edit', id=company.id)}}''>Edit Company</a></button>
<div>
{%  endblock  %}
