@import url('//fonts.googleapis.com/css?family=Montserrat');
@import url('//fonts.googleapis.com/css?family=Nunito');

html, body {
    margin:0;
    padding:0;
    background-color: white;
}

a, a:hover{
    text-decoration: none;
}

.searchresult {
    width: 95%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid black;
    background-color: white;
}

.mycontent {
    padding-top: 5px;
}

li{
    list-style-type: none;
    margin-bottom: 2vh;
}

.entries{
    margin-top: 7.5vh;
    width: 95%;
    margin-bottom: 1vh;
}

.nameanchor{
    color: #34495E;
    font-weight: bold;
}

.text a{
    color: black;
    font-weight: bolder;
}

.name{
    display: inline-block;
}

@media (max-width: 1000px){

    a, a:hover{
        text-decoration: none !important;
    }

    .mynav{
        display: flex;
        position: fixed;
        top: 0px;
        height: 10vw;
        background-color: #34495E;
        width: 100%;
        justify-content: space-between;
        z-index: 1000
    }
    .mytitle{
        height: 100%;
        text-align: center;
        width:45%;
        background-color: #34495E;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext{
        font-family: Montserrat;
        font-size: 8vw;
        color: white;
        vertical-align: 100%;
        line-height: 10vw;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext:hover{
        cursor: pointer;
    }
    .rocket{
        height: 8vw;
        margin-top: -25vw;
    }
    .rocket:hover{
        cursor: pointer;
    }
    .mytitletext3{
        display: none;
    }
    .mypages{
        display: none;
    }
    .mysearch{
        display: none;
    }
    .mobilenav{
        width: 25%;
        float: right;
    }
    .hamburgericon{
        margin-top: 1.5vw;
        width: 7vw;
        margin-right: 4vw;
    }
    .hamburgericon:hover{
        cursor:pointer;
    }
    .searchicon{
        margin-top: 1.4vw;
        width: 8vw;
        margin-right: 2vw;
    }
    .searchicon:hover{
        cursor:pointer;
    }
    .mobilenavpages{
        display: none;
        margin-top: 10vw;
        width: 100%;
        height: 54vh;
        background-color: lightgrey;
    }
    .mobilenavitems{
        display: block;
        background-color: black;
        color: white;
        text-align: center;
        height: 9vh;
        font-size: 5rem;
    }
    .mobilesearch{
        display: none;
        width: 100vw;
        margin-left: 0;
    }
    .mobileform{
        margin-top: 11vw;
        width: 100%;
    }
    .mobileinput{
        height: 5vh;
        width: 100%;
        font-size: 2.75em;
    }
    .searchcontent{
        margin-top:10vh;
        display: none;
        font-family: Nunito;
        width: 100%;
        min-height: 100vh;
        background-color: #f2ecea;
        margin-left: 0%;
        padding-right: 0.5%;
        padding-left: 0.5%;
        padding-top: 0.5%;
    }
    .content{
        margin-top:10vw;
        font-family: Nunito;
        min-height: 100vh;
        width: 100%;
        background-color: #f2ecea;
        margin-left: 0%;
        padding-right: 5%;
        padding-left: 5%;
        padding-top: 2%;
    }
    #tweet-message{
        height: 15vh;
    }
    #tweet-button{
        width: 20vw;
        margin-right: 1vw;
    }
    .myheadertext{
        height: 90%;
        font-size: 4em;
        font-weight: lighter;
        color: black;
    }
    .myheaderbar{
        background-color: black;
        height: 1.5px;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mynav{
        position: fixed;
        top: 0px;
        display: flex;
        height: 50px;
        background-color: #34495E;
        width: 100%;
        z-index: 1000
    }
}

@media (min-width: 1921px){
    .mynav{
        position: fixed;
        top: 0px;
        display: flex;
        height: 75px;
        background-color: #34495E;
        width: 100%;
        z-index: 1000;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mytitle{
        display: inline-block;
        height: 100%;
        text-align: center;
        width:20%;
        background-color: #34495E;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    a, a:hover{
        text-decoration: none !important;
    }
}

@media (min-width: 1921px){
    .mytitle{
        display: inline-block;
        height: 100%;
        text-align: center;
        width:20%;
        background-color: #34495E;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    a, a:hover{
        text-decoration: none !important;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mytitletext{
        font-family: Montserrat;
        font-size: 30px;
        color: white;
        vertical-align: 35%;
        line-height: 165%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext:hover{
        cursor: pointer;
    }
}

@media (min-width: 1921px){
    .mytitletext{
        font-family: Montserrat;
        font-size: 50px;
        color: white;
        vertical-align: 30%;
        line-height: 125%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext:hover{
        cursor: pointer;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mytitletext2{
        font-family: Montserrat;
        font-size: 30px;
        color: white;
        vertical-align: 40%;
        line-height: 160%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext2:hover{
        cursor: pointer;
    }
}

@media (min-width: 1921px){
    .mytitletext2{
        font-family: Montserrat;
        font-size: 50px;
        color: white;
        vertical-align: 42.5%;
        line-height: 125%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext2:hover{
        cursor: pointer;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mytitletext3{
        font-family: Montserrat;
        font-size: 30px;
        color: white;
        vertical-align: 35%;
        line-height: 165%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext3:hover{
        cursor: pointer;
    }
}

@media (min-width: 1921px){
    .mytitletext3{
        font-family: Montserrat;
        font-size: 50px;
        color: white;
        vertical-align: 30%;
        line-height: 125%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .mytitletext3:hover{
        cursor: pointer;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    img{
        height: 60%;

    }
}

@media (min-width: 1921px){
    img{
        height: 65%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mobilenav{
        display: none;

    }
}

@media (min-width: 1921px){
    .mobilenav{
        display: none;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mobilenavpages{
        display: none;

    }
}

@media (min-width: 1921px){
    .mobilenavpages{
        display: none;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mobilesearch{
        display: none;

    }
}

@media (min-width: 1921px){
    .mobilesearch{
        display: none;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mypages{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        background-color: #34495E;
        width: 55%;
    }
}

@media (min-width: 1921px){
    .mypages{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        background-color: #34495E;
        width: 55%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mynavitems{
        font-family: Montserrat;
        font-size: 115%;
        color: white;
    }
}

@media (min-width: 1921px){
    .mynavitems{
        font-family: Montserrat;
        font-size: 145%;
        color: white;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mynavitems:hover{
        cursor: pointer;
    }
}

@media (min-width: 1921px){
    .mynavitems:hover{
        cursor:pointer;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .mysearch{
        font-family: Montserrat;
        width: 25%;
    }
}

@media (min-width: 1921px){
    .mysearch{
        font-family: Montserrat;
        width: 25%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .myform {
        display: inline-block;
        margin: 0 0 0 1.5em;
        width: 100%; 
        height: 100%;

    }

    .myinput[type="text"]{
        margin-top: 1.25em;
        height: 40%;
        width: 80%;
        font-size: 85%;
    }

    .myform::after {
        content: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/search.svg');
        background-size: 0.9em 0.9em;
        display: inline-block;
        position: relative;
        left: 0.2em;
        top: 0.35em;
        width: 1.25em; 
        height: 0.75em;
        padding: 0;
    }
}

@media (min-width: 1921px){
    .myform {
        display: inline-block;
        margin: 0 0 0 2.2em;
        width: 100%; 
        height: 100%;
        
    }

    .myinput[type="text"]{
        margin-top: 1.55em;
        height: 40%;
        width: 85%;
        font-size: 100%;
    }

    .myform::after {
        content: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/search.svg');
        background-size: 0.9em 0.9em;
        display: inline-block;
        position: relative;
        left: 0.2em;
        top: 0.5em;
        width: 1.7em; 
        height: 1em;
        padding: 0;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .content{
        margin-top:50px;
        font-family: Nunito;
        min-height: 100vh;
        width: 75%;
        background-color: #f2ecea;
        margin-left: 12.5%;
        padding-right: 6%;
        padding-left: 6%;
        padding-top: 2%;
    }
}

@media (min-width: 1921px){
    .content{
        margin-top: 75px;
        font-family: Nunito;
        min-height: 100vh;
        width: 75%;
        background-color: #f2ecea;
        margin-left: 12.5%;
        padding-right: 6%;
        padding-left: 6%;
        padding-top: 2%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .legend{
        font-family: Nunito;
        font-size: 1.2em;
    }
}

@media (min-width: 1921px){
    .legend{
        font-family: Nunito;
        font-size: 1.35em;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    #tweet-message{
        font-size: 1.25em;
    }
}

@media (min-width: 1921px){
    #tweet-message{
        font-size: 1.5em;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    #tweet-button{
        font-size: 1em;
    }
}

@media (min-width: 1921px){
    #tweet-button{
        font-size: 1.25em;
    }
}

@media (max-width: 1920px){
    .flashes{
        font-size: 1em;
        color: red;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .searchcontent{
        margin-top:50px;
        display: none;
        font-family: Nunito;
        width: 75%;
        min-height: 100vh;
        background-color: #f2ecea;
        margin-left: 12.5%;
        padding-right: 0.5%;
        padding-left: 0.5%;
        padding-top: 0.5%;
    }
}

@media (min-width: 1921px){
    .searchcontent{
        margin-top:75px;
        display: none;
        font-family: Nunito;
        width: 75%;
        min-height: 100vh;
        background-color: #f2ecea;
        margin-left: 12.5%;
        padding-right: 0.5%;
        padding-left: 0.5%;
        padding-top: 0.5%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .myheader{
        height: 70px;
    }
}

@media (min-width: 1921px){
    .myheader{
        height: 100px;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .myheadertext{
        height: 90%;
        font-size: 3.5em;
        font-weight: lighter;
        color: black;
    }
}

@media (min-width: 1921px){
    .myheadertext{
        height: 90%;
        font-size: 5em;
        font-weight: lighter;
        color: black;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    .myheaderbar{
        background-color: black;
        height: 1.5px;
    }
}

@media (min-width: 1921px){
    .myheaderbar{
        background-color: black;
        height: 3px;
    }
}

/*Profile Page*/

.container-fluid {
    margin-top: 10px;
}

.posts-header {
    margin-top: 2.5em;
}

.profile-box {
    background-color: white;
    border-radius: 10px;
    padding: 0px 30px 30px 30px;
    box-shadow: 5px 5px 5px rgba(136, 136, 136, 0.35);
    border: 1px solid #ddd;

}

.invite-button {
    margin-top: 5px;
}

.user-header {
    font-size: 30px;
}

.header-button {
    font-size: 30px;
}

.edit-button {
    font-size: 20px ;
    margin-bottom: 6px ;
}

.user-row {
    padding-bottom: 10px ;
    padding-top: 15px ;
    padding-left: 15px ;
}

.entry-post {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 15px;
    padding:  10px  30px  0  30px;
    box-shadow: 1px 1px 5px #888888;
}

.entry-post-dates {
    display: inline-block;
    padding-right: 30px;

}
/*Profile Page Invite Modal*/

#container {
    margin-top: 10em;
}

#invite-modal, #tag-modal {
	margin-top:10em;
}

.modal-content {
    height: 10em;
    border: none;
}

#close-button {
    padding-right: 10px;
    font-size: 50px;
}

.model-header {
    text-align: center;
    padding-left: 15px;
}

.modal-heading {
    margin-top: 1.5em;
    padding-top: 1.5em;
}

.modal-body {
    padding-bottom: 0px;
}

#invite-name {
    width: 30%; 
}

#invite-email {
    width: 40%;
}

.modal-footer {
    margin-top: -18px;
    border-top: 0;
    padding-top: 6px;
}

.tag-detail-section-header {
    font-size:  24px;
}

.tag-detail-row {
    padding:  15px  15px  0  15px;
}

.glyphicon-tag {
    padding: 15px 15px;
    font-size:  23px;
}

.tag-company-header {
    padding:  10px  0  5px  0;
}

.tag-container {
    padding:  10px  0  10px  0;
}

@media (max-width: 1000px) {
    .modal-content {
        height:30%;
    }
}

@media (max-width: 1000px) {
    #invite-name {
        display: block;
        margin: 75px auto;
        border: 1px solid grey;
    }
}

@media (max-width: 1000px) {
    #invite-email {
        display: block;
        margin: 75px auto;
        border: 1px solid grey;
    }
}


@media (min-width: 1921px){
    #formrow{
        margin-top: 2%;
        margin-bottom: 0.5%;
        margin-left: 33.33%;
        font-size: 1em;
    }
}

@media (max-width: 1000px){
    #formrow{
        margin-top: 2%;
        margin-bottom: 0.5%;
        margin-left: 15%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    #email{
        width: 50%;
        height: 3vh;
        font-size: 1em;
    }
}

@media (min-width: 1921px){
    #email{
        width: 50%;
        height: 3vh;
        font-size: 1em;
    }
}

@media (max-width: 1000px){
    #email{
        width: 75%;
        height: 3.5vh;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    label{
        font-size: 1em;
    }
}

@media (min-width: 1921px){
    label{
        font-size: 1.5em;
    }
}

@media (max-width: 1000px){
    label{
        font-size: 1.5em;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    #password{
        width: 50%;
        height: 3vh;
        margin-bottom: 1%;
    }
}

@media (min-width: 1921px){
    #password{
        width: 50%;
        height: 3vh;
        margin-bottom: 1%;
    }
}

@media (max-width: 1000px){
    #password{
        width: 75%;
        height: 3.5vh;
        margin-bottom: 1%;
    }
}

@media (max-width: 1920px) and (min-width: 1000px){
    #postbutton{
        margin-left: 45%;
        width: 10%;
    }
}

@media (min-width: 1921px){
    #postbutton{
        margin-left: 45%;
        width: 10%;
    }
}

@media (max-width: 1000px){
    #postbutton{
        margin-left: 30%;
        width: 25%;
    }
}

.editfield {
    align-items: center;
    font-size: 15px;
    width: 60%;
    height: 4vh;
    border-radius: 5px;
    padding-left: 10px;
    min-width: 450px;
    color: dimgray;
    border-style:initial;
    border: 1px solid #ddd;
}

.editform {
    margin-left: 8vh
}

.centerme {
    text-align: center;
}

.leftme {
    text-align: left
}

.showpage {
    font-size: 18px
}

.title {
    font-size: 30px;
    display: inline;
}

.glyphicon {
    font-size: 20px
}

.showpage h4, .companyentry {
    margin-top: 15px;
    margin-bottom: 15px;
}

@media (max-width: 1921px){
    .taglist {
        font-size: 1em;
        padding: 3px;
        line-height: 40px;
        margin-right: 4px;
    }
    .tagtitle {
        font-size: 2em
    }
}

@media (max-width: 1000px){
    .taglist {
        font-size: 2em;
        padding: 3px;
        line-height: 60px;
        margin-right: 6px;
    }
    .tagtitle {
        font-size: 3em;
    }
}

.taglist {
    background-color: white;
    border-radius: 5px;
    
}

.flashwarning, .flash {
    text-align: center; 
}

.flashwarning {
    color: red;
}

.user-post {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 1px 1px 5px #888888;
}

.user-post-content {
    padding-top: 20px;
}

.user-post-dates {
    display: inline;
    margin-right: 20px;
    line-height: 40px;
}
