@import url('//fonts.googleapis.com/css?family=Montserrat');
@import url('//fonts.googleapis.com/css?family=Nunito');

html, body {
	margin:0;
	padding:0;
	background-color: #E8E8EE;
}

@media (max-width: 1000px){

	.mynav{
		display: flex;
		position: fixed;
		top: 0px;
		height: 10vw;
		background-color: #34495E;
		width: 100%;
		justify-content: space-between;
	}
	.mytitle{
		height: 100%;
		text-align: center;
		width:45%;
		background-color: #34495E;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext{
		font-family: Montserrat;
		font-size: 8vw;
		color: white;
		vertical-align: 100%;
		line-height: 10vw;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext:hover{
		cursor: pointer;
	}
	.rocket{
		height: 8vw;
		margin-top: -25vw;
	}
	.rocket:hover{
		cursor: pointer;
	}
	.mytitletext3{
		display: none;
	}
	.mypages{
		display: none;
	}
	.mysearch{
		display: none;
	}
	.mobilenav{
		width: 25%;
		float: right;
	}
	.hamburgericon{
		margin-top: 1.5vw;
		width: 7vw;
		margin-right: 4vw;
	}
	.hamburgericon:hover{
		cursor:pointer;
	}
	.searchicon{
		margin-top: 1.4vw;
		width: 8vw;
		margin-right: 2vw;
	}
	.searchicon:hover{
		cursor:pointer;
	}
	.mobilenavpages{
		display: none;
		margin-top: 10vw;
		width: 100%;
		height: 54vh;
		background-color: lightgrey;
	}
	.mobilenavitems{
		display: block;
		background-color: black;
		color: white;
		text-align: center;
		height: 9vh;
		font-size: 5rem;
	}
	.mobilesearch{
		display: none;
		width: 100vw;
		margin-left: 0;
	}
	.mobileform{
		margin-top: 11vw;
		width: 100%;
	}
	.mobileinput{
		height: 5vh;
		width: 100%;
		font-size: 2.75em;
	}
	.searchcontent{
		margin-top:10vh;
		display: none;
		font-family: Nunito;
		width: 100%;
		min-height: 100vh;
		background-color: #E5E5E5;
		margin-left: 0%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
	.content{
		margin-top:10vw;
		font-family: Nunito;
		min-height: 100vh;
		width: 100%;
		background-color: #E5E5E5;
		margin-left: 0%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
	#tweet-message{
		height: 15vh;
	}
	#tweet-button{
		width: 20vw;
		margin-right: 1vw;
	}
	.myheadertext{
		height: 90%;
		font-size: 4em;
		font-weight: lighter;
		color: black;
	}
	.myheaderbar{
		background-color: black;
		height: 1.5px;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mynav{
		position: fixed;
		top: 0px;
		display: flex;
		height: 50px;
		background-color: #34495E;
		width: 100%;
	}
}

@media (min-width: 1921px){
	.mynav{
		position: fixed;
		top: 0px;
		display: flex;
		height: 75px;
		background-color: #34495E;
		width: 100%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mytitle{
		display: inline-block;
		height: 100%;
		text-align: center;
		width:20%;
		background-color: #34495E;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
}

@media (min-width: 1921px){
	.mytitle{
		display: inline-block;
		height: 100%;
		text-align: center;
		width:20%;
		background-color: #34495E;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mytitletext{
		font-family: Montserrat;
		font-size: 30px;
		color: white;
		vertical-align: 35%;
		line-height: 165%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext:hover{
		cursor: pointer;
	}
}

@media (min-width: 1921px){
	.mytitletext{
		font-family: Montserrat;
		font-size: 50px;
		color: white;
		vertical-align: 30%;
		line-height: 125%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext:hover{
		cursor: pointer;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mytitletext2{
		font-family: Montserrat;
		font-size: 30px;
		color: white;
		vertical-align: 40%;
		line-height: 160%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext2:hover{
		cursor: pointer;
	}
}

@media (min-width: 1921px){
	.mytitletext2{
		font-family: Montserrat;
		font-size: 50px;
		color: white;
		vertical-align: 42.5%;
		line-height: 125%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext2:hover{
		cursor: pointer;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mytitletext3{
		font-family: Montserrat;
		font-size: 30px;
		color: white;
		vertical-align: 35%;
		line-height: 165%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext3:hover{
		cursor: pointer;
	}
}

@media (min-width: 1921px){
	.mytitletext3{
		font-family: Montserrat;
		font-size: 50px;
		color: white;
		vertical-align: 30%;
		line-height: 125%;
		text-overflow: ellipsis;
    	overflow: hidden;
	}
	.mytitletext3:hover{
		cursor: pointer;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	img{
		height: 60%;

	}
}

@media (min-width: 1921px){
	img{
		height: 65%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mobilenav{
		display: none;

	}
}

@media (min-width: 1921px){
	.mobilenav{
		display: none;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mobilenavpages{
		display: none;

	}
}

@media (min-width: 1921px){
	.mobilenavpages{
		display: none;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mobilesearch{
		display: none;

	}
}

@media (min-width: 1921px){
	.mobilesearch{
		display: none;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mypages{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		background-color: #34495E;
		width: 55%;
	}
}

@media (min-width: 1921px){
	.mypages{
		display: flex;
		justify-content: space-around;
		align-items: center;
		height: 100%;
		background-color: #34495E;
		width: 55%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mynavitems{
		font-family: Montserrat;
		font-size: 115%;
		color: white;
	}
}

@media (min-width: 1921px){
	.mynavitems{
		font-family: Montserrat;
		font-size: 145%;
		color: white;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mynavitems:hover{
		cursor: pointer;
	}
}

@media (min-width: 1921px){
	.mynavitems:hover{
		cursor:pointer;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.mysearch{
		font-family: Montserrat;
		width: 25%;
	}
}

@media (min-width: 1921px){
	.mysearch{
		font-family: Montserrat;
		width: 25%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.myform {
		display: inline-block;
		margin: 0 0 0 1.5em;
		width: 100%; 
		height: 100%;

	}

	.myinput[type="text"]{
		margin-top: 1.25em;
		height: 40%;
		width: 80%;
		font-size: 85%;
	}

	.myform::after {
	    content: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/search.svg');
	    background-size: 0.9em 0.9em;
	    display: inline-block;
	    position: relative;
	    left: 0.2em;
	    top: 0.35em;
	    width: 1.25em; 
	    height: 0.75em;
	    padding: 0;
	}
}

@media (min-width: 1921px){
	.myform {
		display: inline-block;
		margin: 0 0 0 2.2em;
		width: 100%; 
		height: 100%;
		
	}

	.myinput[type="text"]{
		margin-top: 1.55em;
		height: 40%;
		width: 85%;
		font-size: 100%;
	}

	.myform::after {
	    content: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/435840/search.svg');
	    background-size: 0.9em 0.9em;
	    display: inline-block;
	    position: relative;
	    left: 0.2em;
	    top: 0.5em;
	    width: 1.7em; 
	    height: 1em;
	    padding: 0;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.content{
		margin-top:50px;
		font-family: Nunito;
		min-height: 100vh;
		width: 75%;
		background-color: #E5E5E5;
		margin-left: 12.5%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
}

@media (min-width: 1921px){
	.content{
		margin-top: 75px;
		font-family: Nunito;
		min-height: 100vh;
		width: 75%;
		background-color: #E5E5E5;
		margin-left: 12.5%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.legend{
		font-family: Nunito;
		font-size: 1.2em;
	}
}

@media (min-width: 1921px){
	.legend{
		font-family: Nunito;
		font-size: 1.35em;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	#tweet-message{
		font-size: 1.25em;
	}
}

@media (min-width: 1921px){
	#tweet-message{
		font-size: 1.5em;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	#tweet-button{
		font-size: 1em;
	}
}

@media (min-width: 1921px){
	#tweet-button{
		font-size: 1.25em;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.searchcontent{
		margin-top:50px;
		display: none;
		font-family: Nunito;
		width: 75%;
		min-height: 100vh;
		background-color: #E5E5E5;
		margin-left: 12.5%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
}

@media (min-width: 1921px){
	.searchcontent{
		margin-top:75px;
		display: none;
		font-family: Nunito;
		width: 75%;
		min-height: 100vh;
		background-color: #E5E5E5;
		margin-left: 12.5%;
		padding-right: 0.5%;
		padding-left: 0.5%;
		padding-top: 0.5%;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.myheader{
		height: 70px;
	}
}

@media (min-width: 1921px){
	.myheader{
		height: 100px;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.myheadertext{
		height: 90%;
		font-size: 3.5em;
		font-weight: lighter;
		color: black;
	}
}

@media (min-width: 1921px){
	.myheadertext{
		height: 90%;
		font-size: 5em;
		font-weight: lighter;
		color: black;
	}
}

@media (max-width: 1920px) and (min-width: 1000px){
	.myheaderbar{
		background-color: black;
		height: 1.5px;
	}
}

@media (min-width: 1921px){
	.myheaderbar{
		background-color: black;
		height: 3px;
	}
}




