body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
    color: #607c8b;
}
button a{
    color:white;
}
input {
    border: none;
    font-size: 3rem;
    border-radius: 0.3rem;
    background: white;
    color: grey;
    text-align: left;
}
button {
    background: #607c8b;
    padding: 1rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
}

ul {
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.inline {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.sh {
    background: none;
    color: #607c8b;
}
.slow{
    border-radius: 100rem;
}

/*NEWPOST
*********
*/

.legend {
    border-radius: 0.5rem;
    color: #607c8b;
}

.legend-word {
    color: rgb(201, 201, 201);
}

.legend span {
    padding: 1rem;
}

.display {
    border-radius: 0.2rem;
    margin-top: -3rem;
    background: rgb(246, 246, 246);
    padding:3rem 1rem;
    height: 100vh;
}

.entrieslist li {
    padding: 1rem;
    margin: 1rem;
    background: white;
}

.entrieslist li a.nameanchor {
    font-weight: bold;
}

.modal-body, .modal-body form, .modal-body textarea {
    font-size: 2rem;
}

.modal-body button {
    margin-left: 1rem;
}

.modal-body textarea {
    border: 1px solid rgba(#607c8b, 0.48);
}

.modal-body input {
    font-weight: lighter;
    font-size: 3rem;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    border-bottom: solid 0.2rem #607c8b;
    text-align: right;
    padding: 3rem 1rem;
    margin-bottom: -1.5rem;
}

.modal-body button {
    padding: 0.5rem;
    border-radius: 1px;
}

.modal-body input::placeholder {
    font-weight: lighter;
    font-style: italic;
    color: rgb(201, 201, 201);
}

.modal-body input:focus {
    outline: 0px;
    box-shadow: none;
    border-bottom: solid 0.2rem #607c8b;
}

div.modal-content {
    position: relative;
    background-color: white;
    border-radius: 0.2rem;
}


/*NAVIGATION
*********
*/

.drop {
    z-index: 20;
}

.logo {
    max-width: 2rem;
    margin: 0.2rem;
    z-index: 20;
}

.logo * {
    max-width: 5rem;
}

.user {
    color: white;
}

.mynav a {
    color: white;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right * {
    text-align: center;
    margin-right: 0.7rem;
    z-index: 11;
}

.new {
    display: flex;
    position: absolute;
    justify-content: center;
    margin: auto;
    left: 0;
    right: 0;
    z-index: 10;
    font-size: 1.5rem;
}

.mynav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #3c6272, #294762);
    padding: 0 2rem;
    margin-bottom: 1rem;
    position: relative;
    z-index: 0;
}

input.search {
    width: 20vw;
    background: rgba(255, 255, 255, 0.05);
    text-align: left;
    padding-right: 1rem;
    border-radius: 0px;
}

input.myinput.search {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

input.search::placeholder {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    text-align: right;
}


/*CONTENT
*********
*/
.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.login input{
    font-size: 3rem;
    background:rgba(0,0,0,0.1);
    padding:0.5rem;
}
.login div{
}
.content {
    padding: 2rem;
}

.new:hover {
    color: rgba(255, 255, 255, 0.8);
}

/* iPhone Portrait and Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 667px) {
    body {
        font-size: 1rem;
    }
    .content {
        font-size: 2rem;
    }
    .logo img {
        display: none;
        max-width: 3rem;
    }
    .new {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
    .right{
        justify-content: flex-end;
        width:100vw;
    }
    .search{
        display:none;
    }
    .right * {
        z-index: 11;
    }
    .mynav {
        position: sticky;
        top:90vh;
        padding: 0.2rem;
        padding-bottom: 3rem;
        margin-bottom: -1rem;
    }
    .legend {
        border-radius: 0.5rem;
        color: #607c8b;
        font-size: 1.5rem;
        padding: 0px;
        text-align: left;
    }
    .legend span {
        padding: 0px;
    }
    .content.login{
        width: 100%;
    }
    img{
        max-width: 70vw;
    }
}
/*iPad and Low Res Laptop*/
@media (min-device-width: 667px) and (max-device-width:1200px) {
    .content.login{
        width: 100%;
    }
    .content {
    }
}
/*Large Display*/
@media (min-device-width: 1200px) {
    .content.login{
        width: 100%;
    }
    .display{
        padding-top: 3rem;
        margin-top: -3rem;
    }
}

/* KEYFRAMES
*********/
.button-hover {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}
.button-hover:hover, .button-hover:focus, .button-hover:active {
    transform: translateY(3px);
}
