body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
a {
    color: #607c8b;
}
li {
    list-style-type: none;
}
nav button  {
    background: none;
    padding: none;
}

button a{
    color:white;
}
input {
    border: none;
    font-size: 3rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(205, 205, 205);
    color: grey;
    text-align: left;
}
button {
    background: #607c8b;
    padding: 1rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
}

ul {
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
.inline {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.sh {
    background: none;
    color: #607c8b;
}
.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*NEWPOST
*********
*/
.legend {
    border-radius: 0.5rem;
    color: #b4b4b4;
}
.legend-word {
    color: #b4b4b4;
}
.legend span {
    margin: 2px;
    padding: 4px;
    border-radius: 0.4rem;
    background: white;
    box-shadow: 0px 0.5rem 0px rgba(180, 180, 180, 0.32);
}

.autocomplete-suggestions{
    border-radius: 2px;
    padding:1rem;
    background: white;
}

.autocomplete-selected {
    border-radius: 2px;
    background: #EBF4FD;
}

.display {
    border-radius: 0.2rem;
    background: rgb(246, 246, 246);
    margin:auto;
    padding:1rem;
}
.entry {
    background: rgba(128, 128, 128, 0.13);
    padding: 15px;
}
.entrieslist li {
    padding: 1rem;
    margin: 1rem;
    background: white;
}
.entrieslist li a.nameanchor {
    font-weight: bold;
}
.modal-body {
    padding: 0;
}
.modal-body, .modal-body form, .modal-body textarea {
    font-size: 2rem;
}
.modal-body button {
    margin-left: 1rem;
}
#tweet-message.form-control{
    height: 10rem;
}
.modal-body button {
    padding: 1rem;
    border-radius: 0.5rem;
}
.fa-plus-square{
  text-shadow: 0px 0.2rem 0px #a1a1a1, 0px 5px 20px rgba(0, 0, 0, 0.6);

}
.modal-body textarea::placeholder {
    font-weight: lighter;
    font-style: italic;
    color: rgb(201, 201, 201);
}
button.post{
  background: linear-gradient(150deg,#256f99,#5b7f93);
  box-shadow: 0px 0.5rem 0px #4a6472;
  text-shadow: 0px 3px 0px #4a6472;
}
textarea:focus{
  box-shadow: none;
  outline:none;
}
.modal-body textarea:focus {
    box-shadow: none;
}
div.modal-content {
    position: relative;
    background-color: white;
    border-radius: 0.5rem;
}
/*USERENTRIES
*********
*/
.user-entries li {
    padding: 1rem 1rem 1px 1rem;
    background: rgb(245, 245, 245);
    box-shadow: 0px 0.2rem 0px rgba(0, 0, 0, 0.1);
}

/* NAVIGATION */

.mynav {
    background: linear-gradient(135deg, #3c6272, #294762);
    padding: 10px;
    position: relative;
}

.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    top: 20px;
  }
.navbar-toggle{
    border: none;
    background: white;
    box-shadow: 0px 3px 0px rgb(217, 217, 217);
}
.mynav img {
    max-height: 60px;
    max-width: 60px;
}
span.icon-bar{
  height: 3px !important;
  background-color: #2e4e66 !important;
  border-radius: 6px;
}

.mynav a, .mynav a:hover {
    color:white;
}

.navbar-nav-center {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav-center > li {
    display: inline-block;
    float:none;
}

.navbar-nav-center input.search-input {
    width: 20vw;
    position: relative;
    top: 6px;
    background: rgb(70, 103, 125);
    border: 0px;
    color:rgba(255, 255, 255, 0.6);
}

input.search-input::placeholder{
  color:rgba(255, 255, 255, 0.6);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    box-shadow: none;
}


/*CONTENT
*********
*/
.content{
    margin:auto;
    width:60vw;
}

.edit-container{
    width: 100%;
}

a.glyphicon-pencil{
    font-size: 20px;
}

.modal-footer{
    border:0px
}

/* iPhone Portrait and Landscape */
@media only screen and (min-width: 100px) and (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: white;
    }
    .navbar-nav-center input.search-input {
        width: 75vw;
    }
    .navbar-center {
        top: 13px;
    }
    .content {
        width: 95%;
        font-size: 2rem;
        padding:2rem;
    }
    .content.login{
        font-size: 1rem;
    }
    .logo img {
        max-width: 4.5rem;
    }
    .legend {
        border-radius: 0.5rem;
        font-size: 2rem;
        padding: 0px;
        text-align: left;
    }
    img{
        display:none;
    }
    textarea {
        width: 80%;
    }
}
/*iPad and Low Res Laptop*/
@media (min-width: 768px) and (max-width:1200px) {
    .content.login{
        width: 100%;
    }
    .content {
        width: 95%;
        font-size: 2rem;
        padding:2rem;
    }
    .display{
        width:95%;
    }
}
/*Large Display*/
@media (min-width: 1200px) and (max-width:1800px){
    .content.login{
        width: 100%;
    }
    .display{
        width:75%;
    }
}
/*CRAZY LARGE DISPLAy*/
@media (min-width: 1800px) {
    .logo *{
        max-width: 7rem;
    }
    .content.login{
        width: 100%;
    }
    .display{
        width:65%;
    }
    input.myinput.search{
        font-size: 3.5rem;
    }
}
/* KEYFRAMES
*********/
.button-hover {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.3s;
    transition-property: transform box-shadow;
    transition-timing-function: ease-out;
}
.button-hover:hover, .button-hover:focus, .button-hover:active {
    transform: translateY(3px);
}
.legend .button-hover:hover, .legend .button-hover:focus, .legend .button-hover:active {
    box-shadow: 0px 0.2rem 0px #c9c9c9;
    transform: translateY(3px);
}
#tweet-button.button-hover:hover, #tweet-button.button-hover:focus, #tweet-button.button-hover:active {
    box-shadow: 0px 0.2rem 0px #4a6472;
    transform: translateY(3px);
}
#new.button-hover:hover, #new.button-hover:focus, #new.button-hover:active {
    text-shadow: 0px 0.1rem 0px #a1a1a1, 0px 5px 20px rgba(0, 0, 0, 0.6);
    transform: translateY(3px);
}
