{% extends 'base.html' %} {% block content %}

<div>
    {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
    {% endfor %}
    <h4>
        <a href="{{url_for('persons.index')}}">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        </a>
    </h4>
    <div>
        <h2>Archived People Index</h2>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th class="leftme">Name</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for person in persons %}
                <tr>
                    <td class="leftme"><a href="{{url_for('persons.show', id=person.id)}}">{{person.name}}</a></td>
                    <td>{{person.title}}</td>
                    <td>{{person.description}}</td>
                    <td>{{person.email}}</td>
                    <td>{{person.phone}}</td>
                    <td><a href="{{url_for('persons.archive', id=person.id)}}">Un-Archive</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
