{%  extends 'base.html'  %}

{%  block content  %}
<div class="container">
<div class="editform">
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
<h2>Add A New Person</h2>

<a href = "{{url_for('persons.index')}}">See All People</a>
<br><br>

<form action="{{url_for('persons.index')}}" method='POST'>

{{form.hidden_tag()}}

{% if form.name.errors %}
	{% for error in form.name.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.name.label }}
    <div>
        {{ form.name(value=term, class="editfield") }}
    </div></div>
{% if form.email.errors %}
	{% for error in form.email.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.email.label }}
    <div>
        {{ form.email(class="editfield", id="mail") }}
    </div></div>
{% if form.phone.errors %}
	{% for error in form.phone.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.phone.label }}
    <div>
        {{ form.phone(class="editfield") }}
    </div></div>
{% if form.title.errors %}
	{% for error in form.title.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.title.label }}
    <div>
        {{ form.title(class="editfield") }}
    </div></div>
{% if form.description.errors %}
	{% for error in form.description.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.description.label }}
    <div>
        {{ form.description(class="editfield") }}
    </div></div>
{% if form.slow_lp.errors %}
	{% for error in form.slow_lp.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.slow_lp.label }}
    <div>
        {{ form.slow_lp }}
    </div></div>
{% if form.archived.errors %}
	{% for error in form.archived.errors %}
	<span class="text-danger">
        {{ error }}
    </span>
    {% endfor %}
{% endif %}
    <div class="form-group">
        {{ form.archived.label }}
    <div>
        {{ form.archived }}
    </div></div>

<button type='submit' class='button-hover'>Add New Person</button>
<a href="{{ url_for('users.home') }}" class="button-hover">Cancel</a>

</form>

</div></div>
{%  endblock  %}
