{%  extends 'base.html'  %}

{%  block content  %}
{% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
<div class="container-fluid">
<div class="title">{{person.name}} <a href="{{url_for('persons.edit', id=person.id)}}"><span class="glyphicon glyphicon-pencil"></span></a></div>

<h4><a href = "{{url_for('persons.index')}}">Back To People Index</a></h4><br>

<div class="showpage">
    <h4>Tags:</h4>
    <hr>
    <h4>Title: {{person.title}}</h4>
    <hr>
    <h4>Description: {{person.description}}</h4>
    <hr>
    <h4>Email: {{person.email}}</h4>
    <hr>
    <h4>Phone: {{person.phone}}</h4>
    <hr>
    <h4>Slow LP: {{person.slow_lp}}</h4>
    <hr>
    <h4>Archived?: {{person.archived}}</h4>
    <hr>
    <h4>Created At: {{person.created_at}}</h4>
    <hr>
    <h4>Updated At: {{person.updated_at}}</h4>
    <hr>
</div><br>

<h3>Entries</h3>
    {% for entry in entries %}
        <li>
        {{entry.content | safe}}
        </li>
    {% endfor %}
<div>
{%  endblock  %}
